body {
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

}

main {
    background-color: var(--neutral-white);
    max-width: 650px;
    border-radius: 20px;


}

main img {
    width: 100%;
    /* pega 100% do tamanho do elemento pai - body */
    padding: 30px;
    border-radius: 50px;
}

main .informacoes {
    padding-inline: 30px;
}

main .titulo-receita {
    margin-top: 20px;
}

main .informacoes .descricao {
    margin-bottom: 20px;
}

main .prep-time {
    margin-inline: 30px;
    background-color: var(--neutral-rose-white);
    border-radius: 10px;

    margin-bottom: 20px;
}

main .prep-time .titulo {
    padding: 20px;

}

main .prep-time ul {
    padding: 30px;
    margin-left: 20px;
}

main .prep-time ul li::before {
    content: "";
    margin-left: 10px;
}

main .ingredientes {
    padding-inline: 10px;
}

main .ingredientes ul {
    padding: 20px;
}

main .ingredientes ul li::before {
    content: "";
    margin-left: 10px;
}