body {
    background-color: var(--neutral-eggshell);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

}

main {
    background-color: var(--neutral-white);
    max-width: 650px;
    border-radius: 20px;


}

main img {
    width: 100%;
    /* pega 100% do tamanho do elemento pai - body */
    padding: 30px;
    border-radius: 50px;
}

main h2 {
    color: var(--primary-nutmeg);
}

main .informacoes {
    padding-inline: 30px;
}

main .titulo-receita {
    margin-top: 20px;
}

main .informacoes .descricao {
    margin-bottom: 20px;
}

main .prep-time {
    margin-inline: 30px;
    background-color: var(--neutral-rose-white);
    border-radius: 10px;

    margin-bottom: 20px;
}

main .prep-time .titulo {
    padding: 20px;
    margin-bottom: -27px;
    color: var(--primary-dark-raspberry);

}

main .prep-time ul {
    padding: 30px;
    margin-left: 20px;
}

main .prep-time ul li {
    margin-bottom: 15px;
}

main .prep-time ul li::before,
main .ingredientes ul li::before,
main .instrucoes ol li::before {
    content: "";
    margin-left: 10px;
}

main .ingredientes,
main .instrucoes {
    border-bottom: 1px solid var(--neutral-light-grey);
    margin-inline: 30PX;
    margin-bottom: 20px;
}

main .ingredientes ul {
    padding: 20px;
}

main .ingredientes ul li {
    margin-bottom: 5px;
}

main .instrucoes {
    margin-inline: 30px;
}

main .instrucoes ol {
    padding: 15px;
}

main .instrucoes ol li::marker,
main table .valores {
    color: var(--primary-dark-raspberry);
}

main .instrucoes ol li {
    margin-bottom: 10px;
}


main .nutricao {
    margin-inline: 30px;
}

main .nutricao h2,
main .nutricao p {
    margin-bottom: 20px;
}

main table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

main table tr:not(:last-child) {
    border-bottom: 1px solid var(--neutral-light-grey);
}

main table td {
    padding: 10px;
}